# use ubuntu trusty for newer version of nodejs, used for JS testing
dist: trusty

# faster builds on new travis setup not using sudo
# temporary disable, see https://github.com/travis-ci/travis-ci/issues/6842
#sudo: false
sudo: required

group: edge

language: php

env:
  global:
    - DEFAULT_COMPOSER_FLAGS="--prefer-dist --no-interaction --no-progress --optimize-autoloader"
    - TASK_TESTS_PHP=1
    - TASK_TESTS_JS=0
    - TASK_TESTS_COVERAGE=0

matrix:
  fast_finish: true
  include:
    - php: 7.2

    # run tests coverage on PHP 7.1
    - php: 7.1
      env: TASK_TESTS_COVERAGE=1
    - php: nightly

    # have a separate branch for javascript tests
    - language: node_js
      node_js: 6
      php: 7.1
      env: TASK_TESTS_PHP=0 TASK_TESTS_JS=1
      # overwrite services used for PHP tests
      services:

# cache vendor dirs
cache:
  directories:
    - vendor
    - $HOME/.composer/cache
    - $HOME/.npm

install:
  - travis_retry composer self-update && composer --version
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - travis_retry composer install --prefer-dist --no-interaction

  # setup JS test
  - |
    if [ $TASK_TESTS_JS == 1 ]; then
      travis_retry npm install
    fi

before_script:
  - |
    if [ $TRAVIS_PHP_VERSION = '7.1' ]; then
      PHPUNIT_FLAGS="--coverage-clover=coverage.clover"
    fi
  - |
    if [ $TASK_TESTS_JS == 1 ]; then
      node --version
      npm --version
    fi

script:
  # PHP tests
  - |
    if [ $TASK_TESTS_PHP == 1 ]; then
      phpunit $PHPUNIT_FLAGS
    fi

  # JS tests
  - |
    if [ $TASK_TESTS_JS == 1 ]; then
      npm test
    fi
